name: Deploy
run-name: ${{github.actor}}
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Node ${{ matrix.node }} sample
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
        cache-dependency-path: subdir/package-lock.json
    - run: npm ci
    - run: npm test
